
tecnogochi- spring-xml/tecnogochi-spring-solution/tecnogochi-spring-core/target/

tecnogochi- spring-xml/tecnogochi-spring-solution/tecnogochi-spring-model/target/

tecnogochi- spring-xml/tecnogochi-spring-solution/tecnogochi-spring-persistence/target/

tecnogochi- spring-xml/tecnogochi-spring-solution/tecnogochi-spring-portal/target/

tecnogochi-spring-annotations/backend-test/spring-solution/spring-core/target/

tecnogochi-spring-annotations/backend-test/spring-solution/spring-model/target/

tecnogochi-spring-annotations/backend-test/spring-solution/spring-persistence/target/

tecnogochi-spring-annotations/backend-test/spring-solution/spring-web-services/target/

threading-exercices/target/
